/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800;900&display=swap');


/* A) HOME */

    /* 1) Section "Parece magia.." */

        .gridGalleryPareceMagia {
            display: grid;
            gap: 1rem;
            grid-auto-rows: 30rem;
            grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
            
        }

        .parallaxAlkimia {
            background-image: url('../multimedia/home/imagenPolvosAzules.jpg');
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .textoAlkimia {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(48px, 2.5vw, 40px);
            width: max(20%, 70%, 98%);
            color: white;
            padding: 30vh 0;
            text-align: center;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
        }


    /* 2) Section "Método de trabajo" */

        .gridGalleryMetodoTrabajo {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
        }

        .fondoMetodoTrabajo {
            background-color: #fffdf8;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            
        }

        .metodoTrabajoFont {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(48px, 2.5vw, 40px);
            color: #0B0818;
            width: max(250px,300px, 370px);
            margin-top: 100px;
            margin-left: 4rem;
            position: absolute;
        }

        .cajaMetodoTrabajo {
            background-image: linear-gradient(to right bottom, #fffdf8, #fffdf8, #fffdf8, #fffdf8, #fffdf8, #fef9ed, #fdf5e1, #fcf1d6, #fae8bd);
            border-radius: 100%;
            min-width: 600px;
            min-height: 600px;
            margin-left: -180px;
        }
            
        .conoceMasSobreNosotrosFont {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(18px, 2.5vw, 15px);
            color: #0B0818;
            font-weight: 500;
        }

        .hoverConoceMas {
            position: relative;
            cursor: pointer;
            &:after {
                bottom: 8px;
                content: "";
                height: 3px;
                position: absolute;
                background: #ff7000;
                transition: width 0.5s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
                transform: translateX(0.5em);
                transition: ease 0.5s;
            }
        }

        .titulosMetodoTrabajo {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(26px, 2.5vw, 23px);
            color: #0B0818;
        }

        .parrafosMetodoTrabajo {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(18px, 2.5vw, 15px);
            color: #0B0818;
        }

        .bordesTitulosMetodoTrabajo {
            border-bottom: 1px solid #F1CD72;
        }

        .iconsMetodoTrabajo {
            background-color: #0B0818;
            padding: 24px;
            border-radius: 20px;
            color: white;
        }


    /* 3) Section "Nuestros proyectos" */

        .gridGalleryNuestrosProyectos {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
        }

        .fondoNuestrosProyectos {
            background-color: #0B0818;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }

        .divFontNuestrosProyectos {
            margin-left: 16%;
        }

        #fontNuestroTrabajo {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(18px, 2.5vw, 15px);
            color: #FADA24;
        }

        #fontNuestrosProyectos {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(48px, 2.5vw, 40px);
            color: #F2F2F2;
            font-weight: 700;
        }

        #borderNuestrosProyectos {
            width: 100px;
            border-bottom: 1px solid #F2F2F2;
            margin-left: 0.5rem;
        }

        .proyectoBranding {
            background: linear-gradient(322.38deg, #0B0818 -0.06%, rgba(11, 8, 24, 0) 80.24%), url('../multimedia/portfolio/alejandrinaGourmet.png');
            width: max(270px, 350px, 406px);
            height: max(240px, 299px, 345px);
            margin-top: 8rem;
        }

        .proyectoAudiovisual {
            width: max(270px, 350px, 406px);
            height: max(240px, 299px, 345px);
            background: linear-gradient(322.38deg, #0B0818 -0.06%, rgba(11, 8, 24, 0) 80.24%), url('../multimedia/portfolio/allendeProdu.png');
        }

        .nombreDelProyectoFont {
            font-family: 'Raleway', sans-serif;
            color: #FFFDF8;
            font-size: 22px;
            font-weight: 600px;
        }

        .produccionAudiovisualFont {
            color: #75B5F1;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 400px;
            border: solid #75B5F1 1px;
            border-radius: 30px;
            padding: 10px;
            width: 220px;
        }

        .brandingFont{
            color: #F29200;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 400px;
            border: solid #F29200 1px;
            border-radius: 30px;
            padding: 10px;
            width: 220px;
            margin-bottom: 5rem;
        }    


    /* 4) Footer */

        .footerBlanco {
            background-color: #FFFDF8;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
            width: 98%;
            height: 759px;
            border-radius: 0px 20px 0px 0px;
            margin-bottom: -6px;
        }

        .footerNaranja {
            background-color: #ff7000;
            position: absolute;
            margin-top: 6.2rem;
            width: 2%;
            height: 659px;
        }

        .redesSociales {
            color: #0B0818;
            margin-top: 11%;
            margin-left: 10%;
            width: 30%;
        }

        .textoFooter {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(47px, 1vw , 20px);
            color: #0B0818;
            margin-top: 10%;
            width: 64%;
            margin-left: 15%;
        }

        .bordeFooter {
            border-bottom: solid #2C2740 1px;
            min-width: 145%;
            margin-top: 10%;
        }

        .divFooter {
            display: grid;
            width: 100%;
            margin-top: 15%;
        }

        .bordeFooter2 {
            border-right: solid #2C2740 1px;
            height: 7rem;
        }

        .textoFooter2 {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(16px, 1vw , 18px);
            color: #0B0818; 
        }

        .footerGestion {
            background-color: #0B0818;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
            width: 98%;
            height: 759px;
            border-radius: 0px 20px 0px 0px;
            margin-bottom: -6px;
        }

        .textoFooterGestion {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(47px, 1vw , 20px);
            color: #FFFDF8;
            margin-top: 10%;
            width: 64%;
            margin-left: 15%;
        }

        .textoFooterGestion2 {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(16px, 1vw , 18px);
            color: #FFFDF8;
        }

        .linkDeco {
            text-decoration: none;
            color: #0B0818; 
        }

        .linkDeco2 {
            text-decoration: none;
            color: #FFFDF8;; 
        }
    

/* B) Portfolio */

    /* 1) Nuestros proyectos | Portfolio */

        .fondoPortfolio {
            background-image: linear-gradient(to right bottom, #1f0637, #1a0834, #150830, #12082c, #0f0827, #0e0824, #0c0722, #0b071f, #0b071d, #0b081c, #0a081a, #0a0818);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;        
        }

        .divFontNuestrosProyectosPortfolio {
            margin-left: 6%;
        }

        .arrowPortfolio {
            background: url('../multimedia/portfolio/ArrowDown.png');
            width: 131px;
            height: 281px;
            margin-left: 3%;
        }

        .allendePortfolio {
            width: max(270px, 350px, 406px);
            height: max(240px, 299px, 345px);
            background: linear-gradient(322.38deg, #0B0818 -0.06%, rgba(11, 8, 24, 0) 80.24%), url('../multimedia/portfolio/allendeProdu.png');
        }

        .alejandrinaPortfolio {
            background: linear-gradient(322.38deg, #0B0818 -0.06%, rgba(11, 8, 24, 0) 80.24%), url('../multimedia/portfolio/alejandrinaGourmet.png');
            width: max(270px, 350px, 406px);
            height: max(240px, 299px, 345px);
            margin-top: 8rem;
        }

        .plantillasPortfolio {
            width: max(270px, 350px, 406px);
            height: max(240px, 299px, 345px);
            background: linear-gradient(322.38deg, #0B0818 -0.06%, rgba(11, 8, 24, 0) 80.24%), url('../multimedia/portfolio/plantillasRedes.png');
        }

        .flyersPortfolio {
            background: linear-gradient(322.38deg, #0B0818 -0.06%, rgba(11, 8, 24, 0) 80.24%), url('../multimedia/portfolio/flyersPublicitarios.png');
            width: max(270px, 350px, 406px);
            height: max(240px, 299px, 345px);
            margin-top: 8rem;
        }

        #fontSubtituloProyectosPortfolio {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(18px, 2.5vw, 15px);
            color: #F2F2F2;
            width: 70%;
        }

        .bannerPortfolio {
            background: linear-gradient(to left,#0A0818 4.37%, rgba(10, 8, 24, 0) 60.85%), url('../multimedia/portfolio/portfolioBanner.png');
            width: 612px;
            height: 217px;
        }


    /* 2) Cards Portfolio */

        .sectionCardsPortfolio {   
            display: grid;
            row-gap: 100px;
            grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
            align-content: center;   
            justify-content: center;
            margin-bottom: 20%;
            margin-top: 10%;
        }

        .cardPortfolio {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            background-color: #2C2740;
            position: relative;
            width: 240px;
            height: 390px;
            border-radius: 20px;
            padding: 60px 30px;
            text-align: center;
            justify-self: center;
            box-sizing: content-box;
        }
        
        .cardImgPortfolio {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 39%;
            position: absolute;    
            top: -10%;     
            width: 80px;
            height: 80px;
            background-color: #0B0818;  
            border-radius: 20px;  
        }
        
        .cardImg1Portfolio {
            box-shadow: 5px 5px 20px rgba(253, 179, 48, 0.15);    
        }
        
        .cardImg1Portfolio i {
            color: #F29200;
            font-size: 1rem;
        }
        
        .cardImg1Portfolio:hover {
            transition: 0.5s;
            box-shadow: 5px 5px 42px rgba(253, 179, 48, 0.15);
        }
        
        .cardImg2Portfolio {    
            box-shadow: 5px 5px 20px rgba(117, 181, 241, 0.26);
        }
        
        .cardImg2Portfolio i {
            color: #75B5F1;
            font-size: 1rem;
        }
        
        .cardImg2Portfolio:hover {
            transition: 0.5s;
            box-shadow: 5px 5px 42px rgba(117, 181, 241, 0.26);
        }
        
        .cardImg3Portfolio {      
            box-shadow: 5px 5px 20px rgba(216, 123, 218, 0.15);
        }
        
        .cardImg3Portfolio i {
            color: #D87BDA;  
            font-size: 1.5rem;
        }
        
        .cardImg3Portfolio:hover {
            transition: 0.5s;
            box-shadow: 5px 5px 42px rgba(216, 123, 218, 0.15);
        }
        
        .cardImg4Portfolio {
            box-shadow: 5px 5px 20px rgba(235, 87, 96, 0.15);
        }
        
        .cardImg4Portfolio i {
            font-size: 1.5rem;
            color: #EB5760;
        }
        
        .cardImg4Portfolio:hover {
            transition: 0.5s;
            box-shadow: 5px 5px 42px rgba(235, 87, 96, 0.15);
        }
        
        .cardTitlePortfolio h2{
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 35px;
            color: #F2F2F2;
        }
        
        .cardBodyPortfolio {
            width: 97%;
        }

        .cardBodyPortfolio p {
            color: #F2F2F2;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: clamp(18px, 2.5vw, 12px);
        }

        .cardFooterPortfolio {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }


/* C) Allende Pastelería | Portfolio | Producción Audiovisual */

    /* 1) Introducción Allende Panadería */

        .rutaProyectos {
            color: #F2F2F2;
        }

        .parrafoAllende {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(18px, 2.5vw, 15px);
            color: #F2F2F2;
            width: 51%;
            margin-top: 4%;
        }

        .borderParrafoAllende {
            border-bottom: yellow solid 3px;
            width: 5%;
        }


    /* 2) Galería de Imágenes Allende | Portfolio | Producción Audiovisual */    

        .gridGalleryImagenesAllende {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(30%));
            margin-left: 6%;
            margin-top: 5%;
            margin-bottom: 18%;
        }

        .imagenesAllende {
            margin-top: 20px;
        }

        .textoNuestrosProyectos {
            font-family: 'Raleway', sans-serif;
            font-size: clamp(48px, 2.5vw, 40px);
            color: #F2F2F2;
        }

        #borderNuestrosProyectos2 {
            width: 100px;
            border-bottom: 4px solid #F29200;
            margin-left: 0.5rem;
        }

    
    /* 3) Más de nuestros proyectos */    

        .plantillasPortfolio2 {
            width: max(270px, 350px, 406px);
            height: max(240px, 299px, 345px);
            background: linear-gradient(322.38deg, #0B0818 -0.06%, rgba(11, 8, 24, 0) 80.24%), url('../multimedia/portfolio/plantillasRedes.png');
            margin-top: 8rem;
        }

        .allendePortfolio2 {
            width: max(270px, 350px, 406px);
            height: max(240px, 299px, 345px);
            background: linear-gradient(322.38deg, #0B0818 -0.06%, rgba(11, 8, 24, 0) 80.24%), url('../multimedia/portfolio/allendeProdu.png');
            margin-top: 8rem;
        }

    @media (max-width: 1575px) {

        /* Portfolio */
        .bannerPortfolio {
            display: none;
        }

        .arrowPortfolio {
            display: none;
        }

        .tuboEnsayoPortfolio {
            display: none;
        }

        .sectionCardsPortfolio {
            margin-top: 20%;
        }

        /* Footer */
        .bordeFooter {
            min-width: 120%;
        }

        /* Allende */
        .parrafoAllende {
            width: 86%;
        }

        .imagenAllende2 {
            width: 570px;
         }

         .imagenAlejandrina2 {
             width: 94%;
         }
        
    }


/* Sobre nosotros */

#fontSobreNosotros {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(18px, 2.5vw, 15px);
    color: #F2F2F2;
}

.resilientesBorde {
    width: 100px;
    border-bottom: 3px solid #00FFBB;
    margin-left: 0.5rem;
}

.fondoSobreNosotros {
    background-image: linear-gradient(to left top, #0c091b, #0c091b, #0c091b, #0c091b, #0c091b, #150f21, #1c1326, #25162b, #3a1b34, #512038, #672637, #7a2f33);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;        
}

.rectanguloBlanco {
    color: #F2F2F2;
    width: 70%;
    height: 50%;
}

.imagenesTeam {
    width: 50%;
    position: relative;
    margin-top: -20%;
    margin-left: 5%;

}

.imagenesTeam2 {
    width: 50%;
    margin-left: 5%;
}

#borderMision {
    width: 100px;
    border-bottom: 5px solid #F29200;
    margin-left: 0.5rem;
}

#fontCulture {
    color: #0a0818;
    font-size: 18px;
}










    



